body,html,div,ul,li,input,a{padding:0;margin:0;}
body{background:#767EC7;user-select:none;}
#content{
	position:absolute;
	left:50%;top:50%;
	margin:-250px 0 0 -450px;
	border:8px solid #204792;
	width:900px;
	height:500px;
	background:#fff;
	overflow:auto;
}
#content h1{
	text-align:center;
}
#list{
	padding:20px;
}
#list tbody tr:hover{
	background:#ccc;
}
#list tbody tr{
	height:28px;
}
#list thead td{
	background:#f2f2f2;
	height:30px;
}
div{display:inline-block;}
.search input{border:none;border-bottom:1px solid #000;outline:none;}
.search{padding-left:20px;}
.add{float:right;padding-right: 20px;}
.add a{text-decoration: none;color:#000;}
.add a:hover{color:#F90;}
 a{text-decoration: none;display:inline-block;color:#fff;padding:2px 8px;margin-left:10px;}

#edit,#add{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	padding:20px;
	z-index: 3;
	background:#fff;
}
#zz{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.5);z-index: 2;}
.icon-bianji,.icon-baocun{background:green;}
.icon-shanchu{background:red;}